<div th:fragment="navbar(activeTab)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">CRUD Spring Boot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li sec:authorize="isAuthenticated()" th:class="${activeTab == 'home'}? 'active' : null" class="nav-item active">
                    <a class="nav-link" href="/">Início <span class="sr-only">(current)</span></a>
                </li>
                <li sec:authorize="isAuthenticated()" th:class="${activeTab == 'cadastroDeGrandeEmpresa'}? 'active' : null" class="nav-item">
                    <a class="nav-link" href="/cadastroDeGrandeEmpresa">Cadastro de Grande Empresa</a>
                </li>
                <li sec:authorize="isAuthenticated()" th:class="${activeTab == 'cadastroDeStartup'}? 'active' : null" class="nav-item">
                    <a class="nav-link" href="/cadastroDeStartup">Cadastro de Startup</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="/logout">Sair</a>
                </li>
            </ul>
        </div>
    </nav>
</div>