
<!doctype html>
<html lang="pt-br">
<head>
    <title>Cadastro</title>
    <div th:replace="imports"></div>
</head>
<style>
    .row {
        padding: 0px 5px 10px;
    }
</style>
<body class="text-center">
<div th:replace="navbar(null)"></div>
<div th:replace="mensagem"></div>
<div style="margin: 0 auto; max-width: 300px;">
<form action="/signup" method="POST" class="form form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Cadastro de usuário</h1>
    <div class="container">
        <div class="row">
            <input type="text" name="nome" class="form-control" placeholder="Nome" required autofocus>
        </div>
        <div class="row">
            <input type="email" name="email" class="form-control" placeholder="E-mail" required autofocus>
        </div>
        <div class="row">
            <input type="password" name="senha" class="form-control" placeholder="Senha" required>
        </div>
        <div class="row">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
        </div>
    </div>
</form>
</div>
</body>
</html>